/* SCSS HEX
$rich-black-fogra-39: #0f0f13ff;
$silver: #c6c7c4ff;
$spanish-gray: #a2999eff;
$deep-taupe: #846a6aff;
$onyx: #353b3cff;
$rich-black-fogra-29: #0f1725ff;
$han-blue: #6071cdff;
$orange-red-crayola: #ff5f52ff;
$rich-black-fogra-29-2: #0f1725ff;
$mango: #ffbe05ff; */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

code {
  font-family: 'Lexend Deca', sans-serif;
}

/* for the special effect thingy */
#anims {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#root > div#headache {
  width: 400px;
}

#headache .transitions-item {
  overflow: hidden;
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity, height;
  white-space: nowrap;
  cursor: pointer;
  line-height: 80px;
}

